// Place all the styles related to the Uber_coordinates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.Uberlogo{
	text-align:center;
	margin: 3em 0;

	img{
		width:12%;
	}
}

.input{
	text-align: center;
	margin-top: 6em;
}

.signinfield{
	padding: .179em ;
		border-radius: .5em;
		width: 15%;
		border: 1px solid #dadada;
		line-height: 1em;
		font-size: 1em;
		vertical-align: middle;
}

.table-class{
	margin-left:auto; 
    margin-right:auto;
	margin-top: 2em;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #ffffff !important;
}